<style>
#div1 {width:350px;height:70px;padding:10px;border:1px solid #aaaaaa;}
table th, table td {
    width: 200px;
    height:70px;
    padding: 5px;
    background-color: #cccccc;
}

#drag1 {
  width: 200px;
  height:70px;
  background-color: #636b17;
  resize: horizontal;
  overflow: auto;
}

</style>
<script>
function allowDrop(ev) {
    ev.preventDefault();
}

function drag(ev) {
    ev.dataTransfer.setData("text", ev.target.id);
}

function drop(ev) {
    ev.preventDefault();
    var data = ev.dataTransfer.getData("text");
    ev.target.appendChild(document.getElementById(data));
}


</script>
</head>
<body>

<p>Drag the W3Schools image into the rectangle:</p>
<table>
  <tbody>

    <tr id="1_1" >
      <td id="1_1" ondrop="drop(event)" ondragover="allowDrop(event)" > 1 </td>
      <td id="2_2" ondrop="drop(event)" ondragover="allowDrop(event)" > 2 </td>
      <td id="3_3" ondrop="drop(event)" ondragover="allowDrop(event)" > 3 </td>
      <td id="4_4" ondrop="drop(event)" ondragover="allowDrop(event)" > 4 </td>
      <td id="5_5" ondrop="drop(event)" ondragover="allowDrop(event)" >  5 </td>
    </tr>
    <tr id="2_2" >
      <td id="6_6" ondrop="drop(event)" ondragover="allowDrop(event)" > 6 </td>
      <td id="7_7" ondrop="drop(event)" ondragover="allowDrop(event)" > 7 </td>
      <td id="8_8" ondrop="drop(event)" ondragover="allowDrop(event)" >  8 </td>
      <td id="9_9" ondrop="drop(event)" ondragover="allowDrop(event)" >  9 </td>
      <td id="10_10" ondrop="drop(event)" ondragover="allowDrop(event)" > 10 </td>
    </tr>
  </tbody>
</table>


<br>
<div id="drag1"  draggable="true" ondragstart="drag(event)">aa
</div>
</body>
